body{
    background-color: rgb(240, 233, 225);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: brown;
}
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}